@model IEnumerable<UniversityManagement.Models.Course>

@{
    ViewBag.Index = "active";
    //Layout = null;
}

<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<style>
    .col-sz {
        width: 100px;
    }

    .wod {
        width: 90%;
        margin-bottom: 2px;
    }

    .indexdesign {
        margin: 30px 30px 30px 30px;
        padding: 30px;
    }

    .newbox {
        margin-bottom: 45px;
        
    }
</style>

<div class="indexdesign">
    <center>
        <p>
            @Html.ActionLink("Add Course", "Create", null, new { @class = "newbox btn btn-primary" })
        </p>
    </center>
    <table id="datatable" class="table table-bordered table-striped table-hover">
        <thead style="text-align: center">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.CourseCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Credit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartmentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SemesterId)
                </th>
               
                <th>
                    Action
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr style="text-align: center;">
                <td>
                    @Html.DisplayFor(modelItem => item.CourseCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Credit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SemesterId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new {@class = "btn btn-primary wod"}) <br/>
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id}, new {@class = "btn btn-danger wod"})
                </td>
            </tr>
        }
    </table>
</div>
@section scripts{
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#datatable').DataTable();
        });
    </script>
}