<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uiversity</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/fontawesome-all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Monoton"/>
    <link href="~/Content/custom.css" rel="stylesheet" />
   
  

</head>
<body>
    <nav style="background-color: #152F4F;" class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand myclass" href="#">
            <i style="font-size: 47px;" class="logo fas fa-university"></i>
            BGC Trust University
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="menual collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">

            @if (Session["StudentId"] == null && Session["AdminId"] == null)
            {
                <div class="navbar-nav">
                    <a class="nav-item nav-link @ViewBag.Index" href="@Url.Action("Index", "University")"><i class="fas fa-home"></i>Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link @ViewBag.CSEDepartment" href="@Url.Action("Teacher", "University")"><i class="fas fa-chalkboard-teacher"></i>Teacher</a>
                    <a class="nav-item nav-link  @ViewBag.RouteInformation" href="@Url.Action("RouteInformation", "University")"><i class="fas fa-route"></i>Route</a>
                    <a class="nav-item nav-link  @ViewBag.Course" href="@Url.Action("Course", "University")"><i class="fab fa-readme"></i>Course</a>
                    <a class="nav-item nav-link  @ViewBag.Course" href="@Url.Action("Login","Authentication")"><i class="fas fa-sign-in-alt"></i>Login</a>
                </div>
            }
           @if (Session["StudentId"] != null)
            {
                 <div class="navbar-nav">
                <a class="nav-item nav-link @ViewBag.Index" href="@Url.Action("Index", "University")"><i class="fas fa-home"></i>Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link @ViewBag.LibraryBook" href="@Url.Action("LibraryBook","University")"><i class="fas fa-book"></i>Book</a>
                <a class="nav-item nav-link @ViewBag.CSEDepartment" href="@Url.Action("Teacher", "University")"><i class="fas fa-chalkboard-teacher"></i>Teacher</a>
                <a class="nav-item nav-link  @ViewBag.RouteInformation" href="@Url.Action("RouteInformation", "University")"><i class="fas fa-route"></i>Route</a>
                <a class="nav-item nav-link  @ViewBag.Course" href="@Url.Action("Course", "University")"><i class="fab fa-readme"></i>Course</a>
                <a class="nav-item nav-link  @ViewBag.Profile" href="@Url.Action("Profile", "University")"><i class="far fa-user"></i>Profile</a>
                <a class="nav-item nav-link " href="@Url.Action("Logout", "Authentication")">Logout<i class="fas fa-sign-out-alt"></i></a>
                 </div>
            }
            @if (Session["AdminId"] != null)
            {
                <div class="navbar-nav">
                <a class="nav-item nav-link @ViewBag.Index" href="@Url.Action("Index", "University")"><i class="fas fa-home"></i>Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link @ViewBag.Index" href="@Url.Action("Index","LibraryAdmin")">Library</a>
                <a class="nav-item nav-link @ViewBag.Index" href="@Url.Action("Index", "StudentAdmin")">Student</a>
                <a class="nav-item nav-link  @ViewBag.Index" href="@Url.Action("Index", "TeacherAdmin")">Teacher</a>
                    <a class="nav-item nav-link  @ViewBag.Index" href="@Url.Action("Index", "TransportAdmin")">Transport</a>
                    <a class="nav-item nav-link  @ViewBag.Index" href="@Url.Action("Index", "Course")">Course</a>
                <a class="nav-item nav-link  @ViewBag.Index" href="@Url.Action("Marks", "University")">Marks</a>
                <a class="nav-item nav-link  @ViewBag.Index" href="@Url.Action("ViewResult", "University")">Result</a>
                <a class="nav-item nav-link " href="@Url.Action("AdminLogout", "Authentication")">Logout<i class="fas fa-sign-out-alt"></i></a>
                </div>
            }
          

        </div>
    </nav>

    @RenderBody()

    <div class="mt-5 pt-5 pb-5 footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-xs-12 about-company">
                    <h2>Collaboration & Membership </h2>
                    <img src="~/picture/1.png" alt="">
                    <img src="~/picture/2.png" alt="">
                    <img src="~/picture/3.png" alt="">
                    <img src="~/picture/4.png" alt="">
                    <img src="~/picture/5.png" alt="">
                    <img src="~/picture/6.png" alt="">
                    <img src="~/picture/7.png" alt="">
                    <img src="~/picture/8.png" alt="">
                    <br><br>
                    <h5 style="text-transform: uppercase; font-weight: 800;">Join Us Now For Collaboration </h5>
                </div>
                <div class="col-lg-2 col-xs-12 links">
                    <h4 class="mt-lg-0 mt-sm-3">Links</h4>
                    <ul class="m-0 p-0">
                        <li>- <a href="#">IEEE</a></li>
                        <li>- <a href="#">Elsevier</a></li>
                        <li>- <a href="#">Springer</a></li>
                        <li>- <a href="#">Research Gate</a></li>
                        <li>- <a href="#">Robotics</a></li>
                        <li>- <a href="#">Coding Club</a></li>
                        <li>- <a href="#">Culture Club</a></li>

                    </ul>
                </div>
                <div class="col-lg-3 col-xs-12 location">
                    <h4 class="mt-lg-0 mt-sm-4">Get Touch With Us</h4>
                    <p>BGC Biddyanagar" Chandanaish Chattogram, Bangladesh</p>
                    <p class="mb-0"><i class="fa fa-phone mr-3"></i>01755588627,01755588619</p>
                    <p class="mb-0"><i class="fa fa-phone mr-3"></i>+880-31-2550224</p>
                    <p class="mb-0"><i class="fa fa-envelope mr-3"></i>info@bgctub.ac.bd</p>
                    <p><i class="fa fa-envelope-o mr-3"></i>infobgctub@gmail.com</p>


                    <p>
                        <a href="#"><i class="fa fa-facebook-square mr-2 icon" style="color: white; font-size:25px;"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square mr-2 " style="color: white; font-size:25px"></i></a>


                        <a href="#"><i class="fa fa-google-plus mr-2 icon" style="color: white; font-size:25px"></i></a>
                        <a href="#"><i class="fa fa-whatsapp" style="color: white; font-size:25px"></i></a>
                    </p>

                </div>
            </div>
            <div class="row mt-5">
                <div class="col ">
                </div>
            </div>
        </div>
    </div>



</body>
</html>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

