@model UniversityManagement.Models.Library

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <style>
        .b-box {
            margin: 26px;
            background-color: #faf8f3;
            padding: 41px;
            border: 1px steelblue;
            border-radius: 25px;
        }

        .bbt {
            width: 31%;
            margin-left: 3em;
        }

        .warning {
           
            font-weight: 400;
            padding: 10px;
            border-radius: 9px;
            width: 28em;
            text-align: center;
            box-shadow: -1px 4px 1px 1px #34404c;
            margin-bottom: 11px;
        }

        .error {
            color: red;
        }
    </style>


</head>
<body>
<div class="container ">
    <div class="row">
        <div class="col-md-12 b-box">
            <center>
                @if (ViewBag.Message != null)
                {

                    <div class="warning" style="background-color: #46e86d;" id="warningLabel">
                        <label>@ViewBag.Message</label>
                    </div>

                }
            </center>
            @*@using (Html.BeginForm("Create", "LibraryAdmin", FormMethod.Post, new { name = "insertForm", id = "insertForm", enctype = "multipart/form-data" }))
            {*@

            <form method="POST" action="#" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <center>
                        <h3 style="margin-bottom: 25px;">Library Book</h3>
                    </center>
                    @Html.ValidationSummary(true)
                    <div class="form-group row">
                        <div class="col-md-2"> </div>
                        @Html.LabelFor(model => model.DepartmentId, new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            <select name="DepartmentId" class="form-control">
                                <option value="">Select Category</option>
                                @foreach (var v in ViewBag.depart)
                                {
                                    <option value="@v.Id">@v.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2"> </div>
                        @Html.LabelFor(model => model.SemesterId, new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            <select name="SemesterId" class="form-control">
                                <option value="">Select Category</option>
                                <option value="1">1st</option>
                                <option value="2">2nd</option>
                                <option value="3">3rd</option>
                                <option value="4">4th</option>
                                <option value="5">5th</option>
                                <option value="6">6th</option>
                                <option value="7">7th</option>
                                <option value="8">8th</option>
                            </select>
                        </div>
                    </div>



                    <div class="form-group row">
                        <div class="col-md-2"> </div>
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2"> </div>
                        @Html.LabelFor(model => model.BookPdf, new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            <input type="file" name="Book" />
                            @Html.ValidationMessageFor(model => model.BookPdf)
                        </div>
                    </div>



                    <div class="form-group row">
                        <div class="col-md-12" style="position: absolute; text-align: center;">
                            <input type="submit" value="Create" style="width: 23%" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align: center; margin-top: 27px;">
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-warning bbt" })
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </form>
            @*}*@
        </div>
    </div>
   

</div>
</body>
</html>
