@model UniversityManagement.Models.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
        
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />


        <style>
            .kt {
                width: 115px;
            }

            .bt {
                width: 115px;
            }

            .dld {
                margin-left: 100px;
                margin-top: 80px;
                margin-right: 100px;
                padding: 55px 100px;
                background-color: #faf8f3;
                border: 0px;
                border-style: outset;
                box-shadow: 0px 0px 20px #d8d4d4;
                border-radius: 10px;
                margin-bottom: 50px;
            }

            #mytable {
                margin-bottom: 20px;
            }

            .aa {
                margin-top: 60px;
            }
        </style>

    </head>
    <body>
        <div class="dld">
            <h3>Are you sure to delete this?</h3>

            <table id="mytable" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RegistrationNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.ContactNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DepartmentId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Password)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(item => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(item => item.RegistrationNo)
                        </td>
                        <td>
                            @Html.DisplayFor(item => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(item => item.ContactNo)
                        </td>
                        <td>
                            @Html.DisplayFor(item => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(item => item.DepartmentId)
                        </td>
                        <td>
                            @Html.DisplayFor(item => item.Password)
                        </td>
                    </tr>
                </tbody>

            </table>
            <center>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color aa">
                        <input type="submit" value="Delete" class="btn btn-danger kt" /> |
                        @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-warning bt" })
                    </div>
                }
            </center>
        </div>
        <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
        <script>
            $(document).ready(function () {
                // var table = $('#mytable').DataTable();
            });
        </script>
    </body>
</html>
